<%- include('../Includes/Header.ejs') %>
    <title>
        <%= title_page %></title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('../Includes/Navigation.ejs') %>
    <div class="container">
        <div class="row">
<div class="modal-body">
                       
    <div class="thank-you-pop">
        <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
        <h1>Thank You!</h1>
        <p>Your submission is received and we will contact you soon</p>
        <h3 class="cupon-pop">Your Id: <span>12345</span></h3>
        
     </div>
    </div> 
</div>
</div>
<%- include('../Includes/Footer.ejs') %>